body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.day_container {
    grid-column: 2;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: inherit;
}

.repertoire_rows_container {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: inherit;
    grid-auto-rows: 1fr;
}

.repertoire_element_container {
    background-color: antiquewhite;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    grid-auto-flow: column;
    align-items: center;
}

.repertoire_element_container .time_container {
    justify-content: left;
}

.repertoire_element_container img {
    width: 88px;
}

.day_container_day_name {
    padding: 20px;
    font-size: x-large;
    background-color: wheat;
    height: fit-content;
}

.location_container {
    text-align: right;
}

@media screen and (max-width: 850px) {
    .main_container {
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .main_container {
        display: grid;
        grid-template-columns: 0fr 5fr 0fr;
        grid-row-gap: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .main_container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-row-gap: 10px;
    }
}

.filter_container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    padding: 10px;
    z-index: 100;
    height: 200px;
    overflow: scroll;
}

.dropdown_content.show {
    display: block;
}

.dropdown_item {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown_item input {
    margin-right: 8px;
}